<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="base" value="/app/log" />
    <property name="fileName" value="myApp.log"/>
    <property name="localAddress" value="${base}/${fileName}" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${localAddress}</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <target>System.out</target>
    </appender>

    <logger name="com.lcn.appender" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>

</configuration>